p {
    margin: 10px;
    padding: 10px;
    border: 4px solid black;
    width: 150px;
    height: 150px;
    background-color: orange;
}

.my-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 100px;
    width: 150px;
}

.has-blue-background {
    background-color: #a7ddff;
    border: 1px solid #721ee3;
}

.has-yellow-background {
    background-color: #faf7a7;
    border: 1px solid #e38c1e;
}